<html>
    <head>
        <script>
            function update() {
                var photons = document.getElementById('photons').value;
                var size = document.getElementById('size').value;

                var target = document.getElementById('target');
                target.src = "/render/cornel-box/" + size + "x" + size + "?photons=" + photons;
                console.log(target.src);
            }
            function estimate() {
                var photons = document.getElementById('photons').value;
                var size = document.getElementById('size').value;

                const url = "/estimate/cornel-box/" + size + "x" + size + "?photons=" + photons;
                fetch(url).then(function (r) { return r.text(); }).then(console.log);
            }
        </script>
        
    </head>
    <body>
        <div>
            <img id="target">
        </div>
        <div>
            Photons <input id="photons" type="range" min="0" max="10000" value="1000">
            Size <input id="size" type="range" min="8" max="1024" value="256">
            <button onclick="update()">Render</button>
            <button onclick="estimate()">Estimate</button>
        </div>

    </body>
</html>
