body {
    color: white;
    background: black;
    font-family: 'Arvo', serif;
    font-size: 24px;
}

button {
    border: 0;
    background: white;
    box-shadow: none;
    border-radius: 0px;

    font-family: 'Arvo', serif;
    font-size: 24px;
}

#progress {
    width: 100%;
    background-color: grey;
}
#bar {
    width: 1%;
    height: 30px;
    background-color: lightseagreen;
}